html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root{
  --raisin-black: #272838ff;
  --maximum-blue-purple: #a4b0f5ff;
  --copper-rose: #9b6a6cff;
  --tea-green: #bbd8b3ff;
  --deep-champagne: #f2d0a4ff;
}